
.inputBox-MyLabel
{

padding-top:40px;
background-image: linear-gradient(rgba(255, 1, 255, 1), rgba(255, 255, 0, 0.5)),url("#");

font-size:30px;
margin-left:10px;
}
.first
{
margin-top:20px;
color:black;
float:left;
width:33%;
}

h1
{
color:green;
margin-top:10px;
background-image: linear-gradient(rgba(0, 1, 255, 0), rgba(255, 255, 0, 0.8)),url("#");
}
.lefty
{
float:left;

}

.righty
{
float:right;
}
header
{
height:70px;
background-image: linear-gradient(rgba(0, 1, 255, 0), rgba(255, 255, 0, 0.8)),url("#");
width:100%;
}
section
{
height:350px;
width:33%
}
#section2
{
height:350px;
width:66%
}
textarea
{
margin-top:20px;
font-size:30px;
margin-left:200px;
height:330px;
width:140%
}

footer h1
{
display:center;
float:left;
}
footer
{
height:70px;
width:100%;
background-image: linear-gradient(rgba(0, 1, 255, 0), rgba(0, 255, 0, 0.8)),url("#");

}
